.item{
    margin-top: 60px;
    margin-bottom: 60px;
}

.slideCard{
    padding: 5px;
}

.img{
    width: 200px;
    object-fit:contain;
}

.label{
    margin-top: 5px;
    width: 200px;
}

.delete-button{
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 100px;
    width: 200px;
}