<div class="card d-flex flex-row bd-highlight mb-3 slideCard" style="max-height: 10rem;">
    <div class="d-flex flex-column">
        <input type="file" id="fileselect" name="fileselect" accept="image/*" (change)="fileChanged($event)" />
        <img class="card-img-top p-2 bd-highlight img" [src]="filePath" alt="No Content">
    </div>
    <div class="d-flex flex-row row-item item">
        <label class="label">Duration</label>
        <input [(ngModel)]="slide.duration" type="number" name="duration" class="form-control" id="duration">
        <button class="btn btn-primary delete-button" (click)="deleteSlide()">Remove</button>
    </div>
</div>